<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Articulations</key>
	<array>
		<dict>
			<key>ArticulationID</key>
			<integer>1</integer>
			<key>ID</key>
			<integer>1001</integer>
			<key>Name</key>
			<string>Legato</string>
			<key>Output</key>
			<dict>
				<key>MB1</key>
				<integer>16</integer>
				<key>Status</key>
				<string>Controller</string>
				<key>ValueLow</key>
				<integer>16</integer>
			</dict>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>2</integer>
			<key>ID</key>
			<real>1002</real>
			<key>Name</key>
			<string>Staccato</string>
			<key>Output</key>
			<dict>
				<key>MB1</key>
				<integer>16</integer>
				<key>Status</key>
				<string>Controller</string>
				<key>ValueLow</key>
				<integer>32</integer>
			</dict>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>3</integer>
			<key>ID</key>
			<real>1003</real>
			<key>Name</key>
			<string>Staccato Velocity</string>
			<key>Output</key>
			<dict>
				<key>MB1</key>
				<integer>16</integer>
				<key>Status</key>
				<string>Controller</string>
				<key>ValueLow</key>
				<integer>48</integer>
			</dict>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>4</integer>
			<key>ID</key>
			<real>1019</real>
			<key>Name</key>
			<string>Decrescendo</string>
			<key>Output</key>
			<dict>
				<key>MB1</key>
				<integer>16</integer>
				<key>Status</key>
				<string>Controller</string>
				<key>ValueLow</key>
				<integer>64</integer>
			</dict>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>5</integer>
			<key>ID</key>
			<integer>1023</integer>
			<key>Name</key>
			<string>Sforzando</string>
			<key>Output</key>
			<dict>
				<key>MB1</key>
				<integer>16</integer>
				<key>Status</key>
				<string>Controller</string>
				<key>ValueLow</key>
				<integer>80</integer>
			</dict>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>6</integer>
			<key>ID</key>
			<real>1025</real>
			<key>Name</key>
			<string>Crescendo</string>
			<key>Output</key>
			<dict>
				<key>MB1</key>
				<integer>16</integer>
				<key>Status</key>
				<string>Controller</string>
				<key>ValueLow</key>
				<integer>96</integer>
			</dict>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>7</integer>
			<key>ID</key>
			<integer>1028</integer>
			<key>Name</key>
			<string>Swell</string>
			<key>Output</key>
			<dict>
				<key>MB1</key>
				<integer>16</integer>
				<key>Status</key>
				<string>Controller</string>
				<key>ValueLow</key>
				<integer>112</integer>
			</dict>
			<key>Symbol</key>
			<string>Pizzicato</string>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>8</integer>
			<key>ID</key>
			<integer>1029</integer>
			<key>Name</key>
			<string>Blast FFF</string>
			<key>Output</key>
			<dict>
				<key>MB1</key>
				<integer>16</integer>
				<key>Status</key>
				<string>Controller</string>
				<key>ValueLow</key>
				<integer>127</integer>
			</dict>
		</dict>
	</array>
	<key>InputMidiChannel</key>
	<integer>-1</integer>
	<key>Name</key>
	<string>NI Symphonic Brass Ensemble.plist</string>
	<key>OctaveOffset</key>
	<integer>0</integer>
	<key>Switches</key>
	<array/>
	<key>SwitchingEnabled</key>
	<false/>
</dict>
</plist>
